<%= render 'form' %>



<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-offset-3">
              <%= link_to 'Back', worktimes_path, class: "btn btn-warning btn_warning_after float_right" %>
        </div>
    </div>
</div>
